@import "../../../styles.scss";

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: map-get($relations, bff);
}

.container-sub-title {
    margin-top: map-get($relations, friend);
    display: flex;
    justify-content: space-between;
  }