@import "../../../styles.scss";

.filter {
    display: flex;
    gap: map-get($relations, bff);
    
    input {
        appearance: none;
        height: 16px;
        width: 16px;
        cursor: pointer;
        border: solid 1px map-get($colorpalet, noir);

        &:checked {
            background-color: map-get($colorpalet, noir);
        }
    }
}